<!DOCTYPE html>
<html>

    <head>
        <title>3DS Movie</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/bulma.css">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta property="og:title" content="3DS Movie" />
        <meta property="og:description" content="Webserver to view movies/TV from your 3DS/Wii U console.">
        <meta property="og:image" content="https://oscie.net/assets/square.png">
    </head>

    <body>
        <section class="hero is-fullheight">
            <div id="main-wrapper" class="hero-body">

                <div id="main" class="container is-widescreen has-left-left">
                    <div class="has-text-black">

                        <h1 class="title">
                            3DS Movie
                        </h1>

                        <br>

                        <h2 class="subtitle">
                            Webserver to view movies/TV from your 3DS/Wii U console.
                        </h2>

                        <h2 class="subtitle">
                            You are on {{ console }}.
                        </h2>

                        <a href="/list"><button class="button is-link is-medium">List</button></a>

                        <br><br>

                        <p class="is-6">Created by oscie57 &mdash; <a href="https://github.com/oscie57/3ds-movie">GitHub</a></h4>

                    </div>
                </div>

            </div>
        </section>
    </body>

</html>